version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: RootPass123
      MYSQL_DATABASE: MyAppDb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: MyPass123
    ports:
      - "3306:3306"

  api:
    build: .
    depends_on:
      - mysql
